$primary: #2a9d8f;
$primaryDark: #24897d;
$primaryDarker: #1f756b;

$secondary: #083d77;
$secondaryDark: #07325f;
$secondaryDarker: #052548;

$accent: #fcb040;
$accentDark: #fca727;
$accentDarker: #fb9c0e;

$info: $secondary;
$infoDark: $secondaryDark;
$infoDarker: $secondaryDarker;

$warning: $accent;
$warningDark: $accentDark;
$warningDarker: $accentDarker;

$error: #de576d;
$errorDark: #da445d;
$errorDarker: #d62e4a;

$disabled: #cccccc;
